
.icon-react{
    .with-hover {
        font-size: 2rem;  /* Set the normal size */
        transition: font-size 0.2s ease; /* Smooth transition for hover effect */
    }  
    .with-hover:hover {
        font-size: 2.5rem;  /* Increase size on hover */
    }
}

.wrap-button {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    button {
        width: 2rem;
        height: 2.1rem;
        border-radius: 0.5rem;
        margin: 0 5px;
        font-family: 'Roboto', sans-serif;
        font-size: 11px;
        text-transform: uppercase;
        letter-spacing: 2.5px;
        font-weight: 500;
        border: none;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease 0s;
        cursor: pointer;
        outline: none;

        /* Centering the icon inside */
        display: flex;
        align-items: center;
        justify-content: center;

        &.button {
            color: #2f54eb;
            background-color: #fff;

            &:hover {
                background-color: #2f54eb;
                box-shadow: 0px 15px 20px rgba(46, 101, 229, 0.4);
                color: #fff;
                transform: translateY(-7px);
            }
            &:disabled {
                color: #696565; 
                background-color: #f4f4f4;  
                cursor: not-allowed;  
                box-shadow: none;  
                transform: none;  
            }
        }

        &.remove-button {
            color: #000;
            background-color: #fff;

            &:hover {
                background-color: #ff7875;
                box-shadow: 0px 15px 20px rgba(229, 46, 46, 0.4);
                color: #fff;
                transform: translateY(-7px);
            }
            &:disabled {
                color: #696565; 
                background-color: #f4f4f4;  
                cursor: not-allowed;  
                box-shadow: none;  
                transform: none;  
            }
        }
        
        &.view-button {
            color: #000;
            background-color: #fff;

            &:hover {
                background-color: #75a3ff;
                box-shadow: 0px 15px 20px rgba(46, 119, 229, 0.4);
                color: #fff;
                transform: translateY(-7px);
            }
            &:disabled {
                color: #696565; 
                background-color: #f4f4f4;  
                cursor: not-allowed;  
                box-shadow: none;  
                transform: none;  
            }
        }
        
        &.assig-button {
            color: #000;
            background-color: #fff;
            transition: background-color 0.2s ease;
            &:hover {
                background-color: #2f54eb;
                box-shadow: 0px 15px 20px rgba(46, 67, 229, 0.4);
                color: #fff;
                transform: translateY(-7px);
            }
            &:disabled {
                color: #828080; 
                background-color: #f4f4f4;  
                box-shadow: none;  
                transform: none;  
            }
        }

        &.assig-button.active {
            background-color: #2f54eb;
            color: #fff;
        }
        
        &.sendaprove-button {
            color: #000;
            background-color: #fff;
            i {
                display: inline-block;
                border-bottom: 2px solid black;
                padding-bottom: 3px;
            }

            &:hover {
                background-color: #516ddd;
                box-shadow: 0px 15px 20px rgba(46, 67, 229, 0.4);
                color: #fff;

                i {
                    border-bottom: 2px solid #fff;
                }
                transform: translateY(-7px);
            }
            &:disabled {
                color: #828080; 
                background-color: #f4f4f4;  
                box-shadow: none;  
                transform: none;  
            }
        }    
    }
}